img.resize {
	width: 400px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
}

h2, h3, p{
	font-family: 'Palatino';
	line-height: 1.6;
}

figure {
  	display: block;
		margin: 0 auto;
		/*
  	margin-top: 1em;
  	margin-bottom: 1em;
  	margin-left: 40px;
  	margin-right: 40px;
		*/
}

figcaption {
  	background-color: white;
  	color: black;
    font-style: italic;
  	padding: 2px;
  	text-align: center;
}

body {
	background-color: rgb(242, 242, 242);
}

div {
	width: 40%;
	margin: 0 auto;
	text-align: left;
}

p {
	font-size: large;
}

a:link {
	color: rgb(161, 113, 136);
	text-decoration: none;
}

a:visited {
	color: rgb(161, 113, 136);
	text-decoration: none;
}

a:hover {
	color: rgb(176, 58, 115)
}

.subheading {
	text-align: center;
	word-spacing: 45px;
}

.left {
	flex: 15%;
	padding: 10px;
}

.center {
	flex: 60%;
	padding: 10px;
	padding-right: 15px;
}

.right {
	flex: 25%;
	padding: 10px;
}

.row {
	width: 70%;
	display: flex;
	align-items: baseline;
}